@use "variables" as *;
@use "buttons" as *;
@use "typography" as *;
@use "layout" as *;
@use "experience" as *;
@use "projects" as *;
@use "skills" as *;
@use "hero" as *;
@use "education" as *;
@use "footer" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-bg;
  color: $text-main;
  font-family: $font-main;
  padding-top: 80px;
}

a {
  color: $accent;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $text-main;
  }
}
